<div class="bg-dark p-4">
    <div class="row">
        <div class="col-5 text-center mt-2">
            <img src="../../assets/logo.gif" alt="" height="70px" routerLink="/home">
            <p class="text-white">Hollywood is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices.</p>
        </div>
        <div class="d-grid gap-2 col-2 mb-3">
            <button class="btn btn-outline-light" routerLink="/tv-show">TV Show</button>
            <button class="btn btn-outline-light" routerLink="/movies">Movies</button> 
            <button class="btn btn-outline-light" routerLink="/popular">Popular</button>
            <button class="btn btn-outline-light" routerLink="/new">New</button>
        </div>
        <div class="col-auto text-center text-white">
            <h2>Subscribe to our Hollywood Movie</h2>
            <p>New and top rated films notified to you, so please subscribe </p>
            <div>
                <input type="email" placeholder="Email Address" class="form-control" id="exampleInputPassword1" [(ngModel)]="email"/>
                <button class="btn btn-secondary mt-2">Subscribe</button>
            </div>           
        </div>

        <hr>

        <div class="row text-center">
            <div class="col-6 text-white">
                @2023 Dethe, Industries. All rights reserved.
            </div>
            <div class="col-6">
                <span class="mx-4">
                    
                    <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="https://instagram.com/Nikhil_Dethe.34">
                        <i class="fa fa-instagram" aria-hidden="true"> 
                        </i> 
                      </button>  
                </span>
                <span class="mx-4">
                    <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="https://twitter.com/niks3972">
                        <i class="fa fa-twitter" aria-hidden="true"> 
                        </i> 
                      </button>
                </span>
                <span class="mx-4">
                    <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="https://www.linkedin.com/in/nikhil-dethe-6597161b3/">
                        <i class="fa fa-linkedin" aria-hidden="true"> 
                        </i> 
                      </button>
                </span>
                <span class="mx-4">
                    <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="dethenikhil7578@gmail.com">
                        <i class="fa fa-envelope" aria-hidden="true"> 
                        </i> 
                      </button>
                </span>
                <span class="mx-4">
                    <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="+91 8888496629">
                        <i class="fa fa-phone" aria-hidden="true"> 
                        </i> 
                      </button>
                </span>
                <span class="mx-4">
                    <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Vishalgad B-102, Deshmukh Aali, Chakan">
                        <i class="fa fa-address-card" aria-hidden="true"> 
                        </i> 
                      </button>
                </span>
            </div>
        </div>
    </div>
</div>