  <div class="container-fluid" style="background-color:rgb(188, 196, 188)">

    <ng-container *ngIf="bLogin==true; then loginForm; else registerForm;"></ng-container>

    <ng-template #loginForm>
        <div class="row justify-content-center">
            <div class="col-6">
                <h2 class="text-center mt-2 ">Login</h2>
                  <form>
                    <div class="form-outline mb-3">
                      <label class="form-label">Username</label>
                        <input type="text" class="form-control form-control-lg" [formControl]="loginUsername" required />
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label">Password</label>
                        <input type="password" class="form-control form-control-lg" [formControl]="loginPassword"
                            required />
                    </div>

                    <div class="text-center mb-3">
                        <button type="submit" class="btn btn btn-success" (click)="loginDone()">Login</button>
                        <button class="btn btn-primary mx-3" routerLink="/register" (click)="displayRegister()">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </ng-template>

    <ng-template #registerForm>
        <div class="row justify-content-center">
            <div class="col-6">
                <h2 class="text-center mt-2">Register</h2>
                  <form>
                  <div class="form-outline mb-3">
                    <label class="form-label">Your Email</label>
                      <input type="email" id="form3Example3cg" class="form-control form-control-lg"
                          [formControl]="registerEmail" required />
                  </div>

                    <div class="form-outline mb-3">
                      <label class="form-label">Username</label>
                        <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                            [formControl]="registerUsername" required />
                    </div>


                    <div class="form-outline mb-3">
                      <label class="form-label">Password</label>
                        <input type="password" id="form3Example4cg" class="form-control form-control-lg"
                            [formControl]="registerPassword" required />
                    </div>

                    <div class="form-outline mb-3">
                      <label class="form-label">Confirm Password</label>
                        <input type="password" id="form3Example4cdg" class="form-control form-control-lg"
                            [formControl]="registerConfirm" required />
                    </div>

                    <div class="text-center mb-3">
                      <button class="btn btn-primary mx-3" (click)="registerDone()">Register</button>
                      <button type="submit" class="btn btn btn-success" (click)="displayLogin()" routerLink="/login">Login</button>
                  </div>
                </form>
            </div>
        </div>
    </ng-template>


</div>