<div class="wrapper">
  <div class="scenes" tabindex="0">
    <div class="scene-1">
      <h2 class="scene-title">Captain Phasma</h2>
    </div>
    <div class="scene-2">
      <h2 class="scene-title">Porg</h2>
    </div>
    <div class="scene-3">
      <h2 class="scene-title">Timepass</h2>
    </div>
  </div>
</div>


<div>
    <div class="container-fluid text-center p-3">
        <h4>Trending Now</h4>
        <div class="row mt-2">
          <div class="col-3 mb-3" *ngFor="let trendingInfo of trendingMovie">             <!-- *ngFor for accessing data from array of objects -->
            <div class="card BGC_card" style="width: 25rem;">
              <img src={{trendingInfo.img}} class="card-img-top BGC_card_img" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" alt="...">
            <a href={{trendingInfo.link}} target="_blank" class="btn btn-outline-danger">Watch Now</a>
            </div>
          </div>
        </div>
    
        <h4>Top Rated</h4>
        <div class="row mt-2">
          <div class="col-3 mb-3" *ngFor="let topRatedInfo of topRatedMovie">               <!-- *ngFor for accessing data from array of objects -->
            <div class="card BGC_card" style="width: 25rem;">
              <img src={{topRatedInfo.img}} class="card-img-top BGC_card_img" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" alt="...">
            <a href={{topRatedInfo.link}} target="_blank" class="btn btn-outline-danger">Watch Now</a>
            </div>
          </div>
        </div>
    </div>
</div>




